In [103]:
import pandas as pd

In [104]:
df = pd.read_csv("depression_dataset.csv")
df.head()

,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,Pooja,Female,37,Ghaziabad,Working Professional,Teacher,NaN,2.0,NaN,NaN,4.0,7-8 hours,Moderate,MA,No,6,2,No,No
1,Reyansh,Male,60,Kalyan,Working Professional,Financial Analyst,NaN,4.0,NaN,NaN,3.0,5-6 hours,Unhealthy,B.Com,Yes,0,4,Yes,No
2,Manvi,Female,42,Bhopal,Working Professional,Teacher,NaN,2.0,NaN,NaN,3.0,5-6 hours,Moderate,M.Com,No,0,2,No,No
3,Isha,Female,44,Thane,Working Professional,Teacher,NaN,3.0,NaN,NaN,5.0,7-8 hours,Healthy,MD,Yes,1,2,Yes,No
4,Aarav,Male,48,Indore,Working Professional,UX/UI Designer,NaN,4.0,NaN,NaN,3.0,7-8 hours,Moderate,BE,Yes,6,5,Yes,No

In [105]:
#Transformando coluna 'Gender' em variáveis numéricas

sex = pd.get_dummies(df['Gender'], dtype=int)
df[['Female', 'Male']] = sex
df.drop(['Gender', 'Female'], axis=1, inplace=True)
df.head()

,Name,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Male
0,Pooja,37,Ghaziabad,Working Professional,Teacher,NaN,2.0,NaN,NaN,4.0,7-8 hours,Moderate,MA,No,6,2,No,No,0
1,Reyansh,60,Kalyan,Working Professional,Financial Analyst,NaN,4.0,NaN,NaN,3.0,5-6 hours,Unhealthy,B.Com,Yes,0,4,Yes,No,1
2,Manvi,42,Bhopal,Working Professional,Teacher,NaN,2.0,NaN,NaN,3.0,5-6 hours,Moderate,M.Com,No,0,2,No,No,0
3,Isha,44,Thane,Working Professional,Teacher,NaN,3.0,NaN,NaN,5.0,7-8 hours,Healthy,MD,Yes,1,2,Yes,No,0
4,Aarav,48,Indore,Working Professional,UX/UI Designer,NaN,4.0,NaN,NaN,3.0,7-8 hours,Moderate,BE,Yes,6,5,Yes,No,1

In [106]:
#Transformando coluna 'Working Professional or Student' em variáveis numéricas

worker_or_student = pd.get_dummies(df['Working Professional or Student'], dtype=int)
df[['Working Professional', 'Student']] = worker_or_student
df.drop(['Working Professional or Student', 'Working Professional'], axis=1, inplace=True)
df.head()

,Name,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Male,Student
0,Pooja,37,Ghaziabad,Teacher,NaN,2.0,NaN,NaN,4.0,7-8 hours,Moderate,MA,No,6,2,No,No,0,1
1,Reyansh,60,Kalyan,Financial Analyst,NaN,4.0,NaN,NaN,3.0,5-6 hours,Unhealthy,B.Com,Yes,0,4,Yes,No,1,1
2,Manvi,42,Bhopal,Teacher,NaN,2.0,NaN,NaN,3.0,5-6 hours,Moderate,M.Com,No,0,2,No,No,0,1
3,Isha,44,Thane,Teacher,NaN,3.0,NaN,NaN,5.0,7-8 hours,Healthy,MD,Yes,1,2,Yes,No,0,1
4,Aarav,48,Indore,UX/UI Designer,NaN,4.0,NaN,NaN,3.0,7-8 hours,Moderate,BE,Yes,6,5,Yes,No,1,1

In [107]:
#Transformando coluna 'Depression' em variáveis numéricas

depression = pd.get_dummies(df['Depression'], dtype=int)
df[['No', 'Depression']] = depression
df.drop('No', axis=1, inplace=True)
df.head()

,Name,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Male,Student
0,Pooja,37,Ghaziabad,Teacher,NaN,2.0,NaN,NaN,4.0,7-8 hours,Moderate,MA,No,6,2,No,0,0,1
1,Reyansh,60,Kalyan,Financial Analyst,NaN,4.0,NaN,NaN,3.0,5-6 hours,Unhealthy,B.Com,Yes,0,4,Yes,0,1,1
2,Manvi,42,Bhopal,Teacher,NaN,2.0,NaN,NaN,3.0,5-6 hours,Moderate,M.Com,No,0,2,No,0,0,1
3,Isha,44,Thane,Teacher,NaN,3.0,NaN,NaN,5.0,7-8 hours,Healthy,MD,Yes,1,2,Yes,0,0,1
4,Aarav,48,Indore,UX/UI Designer,NaN,4.0,NaN,NaN,3.0,7-8 hours,Moderate,BE,Yes,6,5,Yes,0,1,1

In [108]:
#Transformando coluna 'Depression' em variáveis numéricas

mental_illness_history_in_family = pd.get_dummies(df['Family History of Mental Illness'], dtype=int)
df[['No', 'Family History of Mental Illness']] = mental_illness_history_in_family
df.drop('No', axis=1, inplace=True)
df.head()

,Name,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Male,Student
0,Pooja,37,Ghaziabad,Teacher,NaN,2.0,NaN,NaN,4.0,7-8 hours,Moderate,MA,No,6,2,0,0,0,1
1,Reyansh,60,Kalyan,Financial Analyst,NaN,4.0,NaN,NaN,3.0,5-6 hours,Unhealthy,B.Com,Yes,0,4,1,0,1,1
2,Manvi,42,Bhopal,Teacher,NaN,2.0,NaN,NaN,3.0,5-6 hours,Moderate,M.Com,No,0,2,0,0,0,1
3,Isha,44,Thane,Teacher,NaN,3.0,NaN,NaN,5.0,7-8 hours,Healthy,MD,Yes,1,2,1,0,0,1
4,Aarav,48,Indore,UX/UI Designer,NaN,4.0,NaN,NaN,3.0,7-8 hours,Moderate,BE,Yes,6,5,1,0,1,1

In [109]:
#Transformando coluna 'Depression' em variáveis numéricas

suicidal_thoughts = pd.get_dummies(df['Have you ever had suicidal thoughts ?'], dtype=int)
df[['No', 'Have you ever had suicidal thoughts ?']] = suicidal_thoughts
df.drop('No', axis=1, inplace=True)
df.head()

,Name,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Male,Student
0,Pooja,37,Ghaziabad,Teacher,NaN,2.0,NaN,NaN,4.0,7-8 hours,Moderate,MA,0,6,2,0,0,0,1
1,Reyansh,60,Kalyan,Financial Analyst,NaN,4.0,NaN,NaN,3.0,5-6 hours,Unhealthy,B.Com,1,0,4,1,0,1,1
2,Manvi,42,Bhopal,Teacher,NaN,2.0,NaN,NaN,3.0,5-6 hours,Moderate,M.Com,0,0,2,0,0,0,1
3,Isha,44,Thane,Teacher,NaN,3.0,NaN,NaN,5.0,7-8 hours,Healthy,MD,1,1,2,1,0,0,1
4,Aarav,48,Indore,UX/UI Designer,NaN,4.0,NaN,NaN,3.0,7-8 hours,Moderate,BE,1,6,5,1,0,1,1

In [110]:
#Transformando coluna 'Dietary Habits' em variáveis numéricas

df['Dietary Habits'] = pd.Categorical(df['Dietary Habits'], categories=['Unhealthy', 'Moderate', 'Healthy'], ordered=True).codes + 1
df.head()

,Name,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Male,Student
0,Pooja,37,Ghaziabad,Teacher,NaN,2.0,NaN,NaN,4.0,7-8 hours,2,MA,0,6,2,0,0,0,1
1,Reyansh,60,Kalyan,Financial Analyst,NaN,4.0,NaN,NaN,3.0,5-6 hours,1,B.Com,1,0,4,1,0,1,1
2,Manvi,42,Bhopal,Teacher,NaN,2.0,NaN,NaN,3.0,5-6 hours,2,M.Com,0,0,2,0,0,0,1
3,Isha,44,Thane,Teacher,NaN,3.0,NaN,NaN,5.0,7-8 hours,3,MD,1,1,2,1,0,0,1
4,Aarav,48,Indore,UX/UI Designer,NaN,4.0,NaN,NaN,3.0,7-8 hours,2,BE,1,6,5,1,0,1,1

In [ ]:
plt.figure(figsize=(8, 6))  
sns.heatmap(df.isnull(), cmap='viridis', cbar=False)  
plt.title('Mapa de Calor de Dados Nulos')  
plt.show()

In [ ]:
px.box(df, x="Gender", y="Age", color="Depression", title="Relação entre gênero e idade com depressão")

In [ ]:
px.histogram(df, x="Age", y="Job Satisfaction", color="Depression", barmode="overlay",
             title="Relação e distribuição entre insatisfação no trabalho, idade e depressão")

In [ ]:
px.box(df, x="Depression", y="Job Satisfaction", color="Depression", title="Satisfação de trabalho e sua relação com a depressão")

In [ ]:
px.histogram(df, x="Age", y="Work Pressure", color="Depression", barmode="overlay",
            title="Relação e distribuição entre pressão de trabalho, idade e depressão")

In [ ]:
px.scatter(df, x="Age", y="Depression", title="Distribuição das idades das pessoas com e sem depressão")

In [ ]:
px.scatter(df, x="Profession", y="Age", color="Depression", title="Presença de depressão nas profissões")

In [ ]:
px.box(df, x="Depression", y="Work/Study Hours", color="Depression", title="Quantidade de horas trabalhadas e sua relação com a depressão")

In [ ]:
px.box(df, x="Depression", y="Dietary Habits", color="Depression", title="Hábitos alimentares relacionados com a depressão")

In [ ]:
px.box(df, x="Depression", y="Sleep Duration", color="Depression", title="Duração do sono relacionada com a depressão")

In [ ]:
px.histogram(df, x="Age", y="Depression", title="Presença de depressão nas idades")